:root {
  --s-petal: 12.5rem;
  --s-inhale: 4s;
}

.breathe {
  animation: relax var(--s-inhale) cubic-bezier(0.5, 0, 0.5, 1) alternate
    infinite;
}

.circle {
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(0, 0);
}

.breathe,
.circle {
  height: var(--s-petal);
  width: var(--s-petal);
}

.circle:nth-child(1) {
  animation: circle-1 var(--s-inhale) ease alternate infinite;
  background-color: var(--c-pink);
}

.circle:nth-child(2) {
  animation: circle-2 var(--s-inhale) ease alternate infinite;
}

.circle:nth-child(3) {
  animation: circle-3 var(--s-inhale) ease alternate infinite;
}

.circle:nth-child(4) {
  animation: circle-4 var(--s-inhale) ease alternate infinite;
  background-color: var(--c-green);
}

.circle:nth-child(5) {
  animation: circle-5 var(--s-inhale) ease alternate infinite;
  background-color: var(--c-glass);
}

.circle:nth-child(6) {
  animation: circle-6 var(--s-inhale) ease alternate infinite;
}

.circle:nth-child(2),
.circle:nth-child(3),
.circle:nth-child(6) {
  background-color: var(--c-yellow);
}

@keyframes relax {
  0% {
    transform: scale(0.15) rotate(180deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, -50px);
  }
}

@keyframes circle-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, 50px);
  }
}

@keyframes circle-3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-60px, 0);
  }
}

@keyframes circle-4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(60px, 0);
  }
}

@keyframes circle-5 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, 50px);
  }
}

@keyframes circle-6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, -50px);
  }
}
