.pulse-loading {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loader {
  text-align: center;
  height: var(--s-ellipse);
  margin: var(--s-system) 0 var(--s-medium);
}

.skeleton {
  width: var(--s-ellipse);
}

.spinner {
  height: 1.8rem;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
