.pulse-loading {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loader {
  background-color: var(--c-black);
  height: var(--s-ellipse);
  margin: var(--s-medium) 0;
}

.skeleton {
  width: var(--s-ellipse);
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
