.face-time {
  position: relative;
}

video {
  width: 100%;
}

.stream-controls {
  position: absolute;
  left: 50%;
  bottom: var(--s-screen);
  transform: translateX(-50%);
}

.stop-watch {
  position: absolute;
  top: var(--s-screen);
  left: var(--s-screen);
}

.stream-controls,
.stop-watch {
  backdrop-filter: blur(var(--s-indicator));
  -webkit-backdrop-filter: blur(var(--s-indicator));
}

.toast-list {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.toast {
  border-radius: var(--s-indicator);
}

.toast__progress-track {
  height: var(--s-unit);
  background-color: var(--c-ambient);
  margin-top: var(--s-safe);
}

.toast__progress-fill {
  height: 100%;
  width: var(--kb-toast-progress-fill-width);
  transition: width 250ms linear;
}

.toast[data-closed] {
  animation: hide 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
