.badge {
  padding: 1.3rem 1.6rem;
  background-color: var(--c-active);
}

.indicator {
  display: block;
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--c-primary);
  margin-right: 2rem;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.form-radio {
  height: 2.8rem;
  min-width: 2.8rem;
  outline-offset: 4px;
}

.form-label {
  padding-left: 2rem;
  font-size: 1.6rem;
}

.theme-list {
  padding: 1.2rem;
}

.theme-list li {
  margin-bottom: 2rem;
}

.blue-theme {
  --c-primary: #dce7f9;
}

.night-theme {
  --c-primary: rgba(37, 37, 37, 0.5);
}

.orange-theme {
  --c-primary: #ff8c82;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1.6);
    opacity: 0.7;
  }
}
