:root {
  --s-radio: 2.4rem;
}

.badge {
  padding: 1.2rem;
}

.form-item {
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.form-label {
  padding-left: 1.8rem;
  font-size: 1.6rem;
}

.form-radio {
  height: var(--s-radio);
  min-width: var(--s-radio);
  border-width: 0.6rem;
  border-style: solid;
  border-color: var(--c-primary);
  box-shadow: 0 0 0 0.6rem var(--c-grey);
  border-radius: 50%;
  transition: border 0.2s ease-out, background-color 0.25s;
}

.form-radio:hover {
  background-color: var(--c-dark);
}

.form-radio.radio-checked {
  background-color: var(--c-ring);
}

.box-description {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 0.4rem;
}

.blue-theme {
  color: var(--c-ring);
}

.night-theme {
  color: var(--c-purple);
}

.orange-theme {
  color: var(--c-heat);
}
