.profile-page {
  background-color: var(--c-light);
}

.content-full {
  width: 100%;
}

.icon {
  width: var(--s-medium);
  min-height: var(--s-medium);
}

.subtitle {
  font-size: 3.4rem;
  max-width: 15rem;
}

.card {
  padding: var(--s-medium);
  background-color: var(--c-secondary);
  border-radius: var(--s-radius);
  margin-bottom: 1.4rem;
}

.card-title {
  font-size: var(--s-medium);
  margin-bottom: 1.8rem;
}

.card-description {
  color: var(--c-basic);
  font-size: 1.6rem;
}

.dark-btn:hover {
  background-color: var(--c-basic);
}
