.backdrop {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 54vw;
}

.alert {
  animation: alert-enter ease-in-out 0.2s;
}

.dialog-action {
  margin-bottom: 1.6rem;
}

@keyframes alert-enter {
  0% {
    opacity: 0.01;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .dialog {
    min-width: 90vw;
  }
}
