.activity {
  height: 8rem;
  width: 8rem;
}

.ring {
  transform-origin: 50%;
  transform: scale(1) rotate(-90deg);
}

.ring circle {
  fill: none;
  stroke-width: 0.52rem;
}

.completed {
  animation: progress 1s ease-in-out forwards;
  stroke-linecap: round;
  stroke: var(--c-heat);
}

.background {
  stroke: var(--c-action);
}

.conditions {
  margin-top: 1.6rem;
}

.context {
  display: grid;
  grid-gap: 0.4rem;
  text-align: right;
}

.term {
  font-size: 1.5rem;
  line-height: var(--s-medium);
}

.sum {
  font-size: 2.8rem;
}

.accrued {
  color: var(--c-heat);
  font-size: var(--s-medium);
}

.form-group {
  margin: var(--s-medium) 0;
}

.form-control {
  padding: 0.9rem 1.2rem;
  font-size: 1.6rem;
}

.form-action {
  background-color: var(--c-action);
  border-radius: 1.2rem;
  border: 0;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@media screen and (max-width: 768px) {
  .sum {
    font-size: 1.8rem;
  }
}
