:root {
  --s-radio: 100px;
}

.activity {
  height: var(--s-radio);
  width: var(--s-radio);
}

.ring {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  transform: rotate(-90deg);
}

.ring circle {
  fill: none;
  stroke-width: var(--s-stroke);
}

.completed {
  animation: progress 1s ease-in-out forwards;
  stroke-linecap: round;
  stroke: var(--c-heat);
}

.background {
  stroke: var(--c-action);
}

.context {
  gap: 0.2rem;
  text-align: right;
}

.sum {
  font-size: var(--s-dock);
}

.accrued {
  color: var(--c-heat);
  font-weight: bold;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 251;
  }
}
