.vault {
  background-color: var(--c-black);
  color: var(--c-white);
}

.activity {
  height: 8rem;
  width: 8rem;
}

.ring {
  transform-origin: 50%;
  transform: scale(1) rotate(-90deg);
}

.completed {
  animation: progress 1s ease-in-out forwards;
  stroke-linecap: round;
  stroke: var(--c-heat);
}

.background {
  stroke: var(--c-action);
}

input:focus-visible {
  outline: 2px solid var(--c-ring);
  outline-offset: 4px;
}

.conditions {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.6rem;
}

.context {
  text-align: right;
}

.term {
  color: var(--c-grey);
  font-size: var(--s-system);
  margin-top: 0.2rem;
}

.sum {
  font-size: 2.8rem;
  margin-bottom: 0.4rem;
}

.accrued {
  color: var(--c-heat);
  font-size: var(--s-medium);
}

.form-group {
  margin: var(--s-medium) 0;
}

.form-control {
  padding: 0.8rem var(--s-system);
  font-size: 1.6rem;
}

.form-action {
  background-color: var(--c-action);
  border-radius: 1.8rem;
  border: 0;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@media screen and (max-width: 768px) {
  .sum {
    font-size: 1.8rem;
  }
}
