.event {
  position: relative;
}

.event::before {
  position: absolute;
  width: var(--s-bezel);
  height: 100%;
  border-radius: var(--s-medium);
  background-color: var(--c-heat);
  content: '';
  left: -0.3rem;
  top: 0;
}

.slot {
  background-color: var(--c-active);
}
