.pale {
  background-color: #fbf3eb;
  padding: var(--s-medium);
}

.brown {
  background-color: #e7c4b1;
  padding: var(--s-medium);
}

.arrow {
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-left {
  border-color: var(--c-black);
  transform: rotate(135deg);
}

.slide {
  animation: slide 1s ease-in-out infinite;
  transition: transform 0.3s;
}

.tour-list {
  align-items: flex-end;
}

.tour-list li {
  padding: 1rem 1.6rem;
  border-radius: var(--s-medium);
  text-align: right;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.tour-list hr {
  margin-top: 0.8rem;
}

.tour-list li:hover {
  color: var(--c-white);
  background-color: var(--c-dark);
  transform: translateX(0.8rem);
}

.home-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 768px) {
  .home-stats {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(-15px);
  }

  50% {
    transform: translateX(-30px);
  }
}
