.flow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.flow .icon {
  transform: rotate(-90deg);
}

.flow-mode .sticky {
  display: none;
}

.flow-mode #app {
  padding-top: 5.2rem;
}

.flow-mode .app {
  margin-bottom: var(--s-bezel);
  margin-top: 0.2rem;
}
