.card {
  padding: 1.6rem var(--s-medium);
}

.card-text {
  display: block;
  font-size: 6.4rem;
}

.card-measure {
  font-size: 3rem;
}

.card-sub {
  font-size: var(--s-medium);
}

.box {
  background-color: var(--c-contrast);
  color: var(--c-white);
}

.box-description {
  font-size: 1.6rem;
}

.on-scroll {
  opacity: 0.01;
  transform: translateY(4.8rem);
  transition: 0.4s opacity, 0.8s transform cubic-bezier(0.07, 0.89, 0.79, 0.95);
}

.animate {
  opacity: 1;
  transform: translateY(0);
}
