:root {
  --c-olive: #78b589;
}

.card-text {
  margin-top: var(--s-unit);
  font-size: var(--s-finger);
}

.accent {
  color: var(--c-olive);
}

.os {
  border-radius: 1rem;
  padding: var(--s-system);
  gap: var(--s-safe);
}

.os-title {
  font-weight: bold;
  font-size: var(--s-dock);
  text-transform: uppercase;
}
