.form-group {
  margin: var(--s-medium) 0 var(--s-unit);
}

.form-control {
  padding: 0.9rem var(--s-safe);
  font-size: 1.6rem;
}

.form-action {
  background-color: var(--c-action);
  border-radius: 1rem;
  border: 0;
}

.form-label {
  font-size: var(--s-system);
  padding: 0.9rem 1rem;
}
