.form-group {
  margin: 0 0 1.6rem;
}

.form-control {
  padding: 1.1rem var(--s-safe) 1rem;
  font-size: 1.6rem;
}

.form-action {
  border-radius: 1rem;
  border: 1px solid var(--c-action);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form-label {
  font-size: var(--s-system);
  padding: 0.9rem 1rem var(--s-unit);
}
