.btn {
  padding: 1.8rem var(--s-medium) 1.6rem;
  background-color: var(--o-glass);
  color: var(--c-black);
  border: 0;
  font-weight: bold;
  font-size: 1.6rem;
  transition: filter 0.25s, transform 0.4s var(--a-press),
    background-color 0.25s, fill 0.25s;
  border-radius: 2.4rem;
}

.btn:active {
  transform: scale(0.94);
}

.btn:hover {
  filter: var(--p-shadow);
  background-color: var(--c-dark);
  color: var(--c-white);
}

svg {
  fill: var(--c-black);
}

.btn:hover svg {
  fill: var(--c-white);
}
