button {
  border: 0;
}

.btn {
  display: block;
  padding: 1.8rem var(--s-medium) 1.6rem;
  background-color: var(--c-glass);
  color: var(--c-black);
  font-weight: bold;
  font-size: 1.6rem;
  transition: filter 0.25s, transform 0.4s var(--a-press),
    background-color 0.25s;
  border-radius: 2.4rem;
  text-align: center;
}

.btn:active {
  transform: scale(0.94);
}

.btn:hover {
  filter: var(--p-shadow);
  background-color: var(--c-contrast);
  color: var(--c-white);
}

.arrow {
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  border-color: var(--c-black);
}

.arrow-right {
  transform: rotate(-45deg);
}

.backward {
  background-color: var(--c-active);
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
}
