:root {
  --c-backdrop: color(display-p3 0 0 0 / 0.4);
  --c-elevation: color(display-p3 1 1 1 / 0.84);
  --p-spec: blur(8px);
  --s-modal: 96vw;
}

.backdrop {
  background-color: var(--c-backdrop);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  backdrop-filter: var(--p-spec);
  -webkit-backdrop-filter: var(--p-spec);
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.alert {
  max-width: 54vw;
  background-color: var(--c-elevation);
  backdrop-filter: var(--p-blur);
  -webkit-backdrop-filter: var(--p-blur);
  animation: alert-enter ease-in-out 0.2s;
}

.modal {
  color: var(--c-dark);
  max-height: calc(100% - var(--s-system));
}

.content-tall {
  height: 100%;
}

@keyframes alert-enter {
  0% {
    opacity: 0.01;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1032px) {
  .modal {
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  .alert {
    max-width: var(--s-modal);
  }
}
