:root {
  --c-alice: #e8f0fe;
  --c-lavender: #eaddff;
  --s-line: 0.6rem;
}

.document {
  background-color: var(--c-lavender);
}

.alice {
  background-color: var(--c-alice);
}

.expert {
  grid-template-columns: repeat(5, 1fr);
}

.toolbar {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--s-medium);
}

.tour-list {
  font-size: var(--s-system);
  gap: 0.2rem;
}

.tour-list-item {
  padding: var(--s-unit) 1rem var(--s-unit) var(--s-safe);
  font-size: inherit;
  background-color: transparent;
  border-radius: var(--s-unit);
}

.tour-list-item:hover,
.tour-list-item[aria-selected='true'] {
  background-color: var(--c-active);
}

.production {
  grid-column: span 4;
}

.keen-slider {
  align-items: baseline;
}

.keen-slider .view {
  height: 90%;
}

.text-center {
  text-align: center;
}

.left-edge,
.right-edge {
  border-radius: var(--s-unit);
}

.right-edge {
  margin: var(--s-line) var(--s-line) var(--s-line) 0;
}

.bottom-sheet {
  position: fixed;
  top: 0;
  left: 50%;
  min-width: 90vw;
  height: 100%;
  z-index: 5;
  border-radius: 1rem 1rem 0 0;
  animation: toast-enter cubic-bezier(0.36, 0.66, 0.04, 1) 0.4s both;
}

.bottom-main {
  transform: scale(0.94);
}

.scrollable {
  max-height: 50vh;
  overflow-y: auto;
}

.portfolio {
  border: 0;
}

.portfolio legend {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .expert,
  .toolbar,
  .portfolio {
    grid-template-columns: 1fr;
  }

  .production {
    grid-column: span 1;
  }

  .right-edge {
    margin: var(--s-line);
  }
}

@keyframes toast-enter {
  0% {
    transform: translateY(100%) translateX(-50%);
  }

  100% {
    transform: translateY(var(--s-safe)) translateX(-50%);
  }
}
