:root {
  --c-lavender: color(display-p3 0.909 0.868 0.99);
}

.document {
  background-color: var(--c-lavender);
}

.alice {
  background-color: var(--c-lamp);
}

.items-end {
  align-items: flex-end;
}

.production {
  grid-column: span 2;
}

.tour-list {
  font-size: var(--s-system);
  background-color: var(--c-active);
  padding: 0.2rem;
  border-radius: var(--s-unit);
}

.tour-list-item {
  padding: var(--s-unit) var(--s-safe);
  font-size: inherit;
  background-color: transparent;
  border-radius: var(--s-unit);
  font-weight: 500;
  border: 1px solid transparent;
  color: var(--c-dark);
}

.tour-list-item:hover {
  background-color: var(--c-active);
}

.tour-list-item[aria-selected='true'] {
  background-color: var(--c-white);
  font-weight: 600;
  border: 1px solid var(--c-action);
}

.keen-slider {
  align-items: baseline;
}

.keen-slider .view {
  height: 90%;
}

.edge {
  padding: var(--s-line);
  border-radius: var(--s-unit);
}

.bottom-sheet {
  margin-top: var(--s-system);
  max-width: var(--s-modal);
  border-radius: 1rem 1rem 0 0;
  animation: toast-enter cubic-bezier(0.32, 0.72, 0, 1) 0.5s both;
}

.bottom-main {
  transform: scale(0.96);
}

.ornament {
  position: sticky;
  bottom: 0;
  z-index: 2;
  margin: 0 -2rem;
  border-top: 1px solid var(--c-active);
  border-radius: 1.6rem;
}

.portfolio {
  border: 0;
}

.portfolio legend {
  font-weight: bold;
}

.danger-grow > * {
  flex-grow: 1;
}

@media screen and (max-width: 1052px) {
  .ornament {
    border-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    grid-template-columns: 1fr;
  }

  .production {
    grid-column: span 1;
  }

  .ornament {
    bottom: 7.94rem;
    margin: 0 -1.6rem;
  }
}

@keyframes toast-enter {
  0% {
    opacity: 0.01;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
