:root {
  --s-chart-bar: 8;
  --c-legend: #636366;
}

.frappe-chart .x.axis .line-vertical {
  display: none;
}

.frappe-chart .y.axis .line-horizontal {
  display: none;
}

.frappe-chart .bar {
  rx: var(--s-chart-bar);
  ry: var(--s-chart-bar);
}

circle {
  fill: none;
  stroke-width: 0.52rem;
  cx: 50%;
  cy: 50%;
  r: 15.914;
}

.graph-svg-tip.comparison .title {
  font-size: 1.8rem;
}

.widget-chart {
  transition: filter 0.4s, transform 0.4s var(--a-press);
}

.widget-chart:hover {
  transform: scale(1.02);
  filter: var(--p-shadow);
}

.chart-container .axis,
.chart-container .chart-label {
  fill: var(--c-legend);
}

@media screen and (max-width: 768px) {
  .widget-chart {
    grid-column: span 2;
  }

  .widget-chart:hover {
    transform: scale(1.05);
  }

  .graph-svg-tip.comparison .title {
    font-size: 1.6rem;
  }

  .frappe-chart .bar {
    --s-chart-bar: 6;
  }
}
