:root {
  --c-neon: color(display-p3 0.397 0.858 0.488);
  --s-stroke: 1.8rem;
}

.ct-label {
  font-size: 11px;
}

.card .ct-label {
  color: var(--c-surface);
}

.box .ct-label {
  color: var(--c-grey);
}

.ct-grid {
  stroke: var(--c-action);
}

.widget-bar,
.widget-line {
  aspect-ratio: auto;
}

.widget-line .ct-point,
.widget-bar .ct-bar {
  stroke-width: var(--s-safe);
  transition: stroke-width 0.2s cubic-bezier(0.666, 0, 0.4, 1);
}

.widget-line .ct-point:hover,
.widget-line .ct-point:focus {
  stroke-width: var(--s-stroke);
}

.widget-bar .ct-bar {
  stroke-linecap: round;
}

.widget-line .ct-point:hover,
.widget-line .ct-point:focus,
.widget-bar .ct-bar:hover,
.widget-bar .ct-bar:focus {
  filter: contrast(90%) brightness(140%);
}

.widget-legend {
  padding: var(--s-bezel) var(--s-system) var(--s-safe);
}

.widget-legend .ct-label {
  font-size: var(--s-safe);
}

.widget-tooltip {
  display: block;
  background-color: var(--c-action);
}

#chart-stocks .ct-series .ct-point {
  stroke: var(--c-neon);
}

#chart-stocks .ct-series .ct-line {
  stroke: var(--c-neon);
}

#chart-stocks .ct-series .ct-area {
  fill: var(--c-neon);
}

#chart-health .ct-series .ct-bar {
  stroke: var(--c-blue);
}

#chart-promotions .ct-series .ct-bar {
  stroke: var(--c-neon);
}

#chart-subscriptions .ct-series .ct-point {
  stroke: var(--c-blue);
}

#chart-subscriptions .ct-series .ct-line {
  stroke: var(--c-blue);
}

#chart-subscriptions .ct-series .ct-area {
  fill: var(--c-blue);
}

@media screen and (max-width: 768px) {
  .widget-chart {
    grid-column: span 2;
  }

  .ct-label {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .widget-bar,
  .widget-line {
    aspect-ratio: 3 / 2;
  }
}

@media screen and (min-width: 1920px) {
  .insights {
    grid-template-columns: repeat(3, 1fr);
  }
}
