.widget-title {
  font-size: 1.7rem;
  margin-bottom: 0.2rem;
}

.widget-main {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.widget-group {
  background-color: var(--c-active);
  padding: 0.7rem 0.7rem 0.3rem;
  border-radius: 50%;
}

.widget-chart {
  transition: filter 0.4s;
}

.widget-chart:hover {
  filter: var(--p-shadow);
}

@media screen and (max-width: 768px) {
  .widget-chart {
    grid-column: span 2;
  }
}
