:root {
  --c-subscription: #b25fea;
  --c-neon: #04de71;
  --s-stroke: 13px;
}

.widget-title {
  font-size: 1.7rem;
  margin-bottom: 0.2rem;
}

.widget-main {
  font-size: var(--s-finger);
  margin-bottom: 1.6rem;
  font-weight: normal;
}

.ct-label {
  font-size: 11px;
}

.card .ct-label {
  color: var(--c-surface);
}

.box .ct-label {
  color: var(--c-grey);
}

.ct-grid {
  stroke: var(--c-action);
}

.widget-line .ct-point,
.widget-bar .ct-bar {
  stroke-width: var(--s-stroke);
}

.widget-line .ct-point:hover,
.widget-line .ct-point:focus {
  stroke-width: var(--s-system);
}

.widget-bar .ct-bar {
  stroke-linecap: round;
}

.widget-line .ct-point:hover,
.widget-line .ct-point:focus,
.widget-bar .ct-bar:hover,
.widget-bar .ct-bar:focus {
  filter: contrast(90%) brightness(125%) saturate(110%);
}

.widget-legend {
  padding: 0.4rem var(--s-system) var(--s-safe);
}

.widget-legend .ct-label {
  font-size: var(--s-safe);
}

.widget-tooltip {
  display: block;
  background-color: var(--c-action);
}

#chart-stocks .ct-series .ct-point {
  stroke: var(--c-neon);
}

#chart-stocks .ct-series .ct-line {
  stroke: var(--c-neon);
}

#chart-stocks .ct-series .ct-area {
  fill: var(--c-neon);
}

#chart-health .ct-series .ct-bar {
  stroke: var(--c-blue);
}

#chart-promotions .ct-series .ct-bar {
  stroke: var(--c-neon);
}

#chart-subscriptions .ct-series .ct-point {
  stroke: var(--c-subscription);
}

#chart-subscriptions .ct-series .ct-line {
  stroke: var(--c-subscription);
}

#chart-subscriptions .ct-series .ct-area {
  fill: var(--c-subscription);
}

@media screen and (max-width: 768px) {
  .widget-chart {
    grid-column: span 2;
  }

  .ct-label {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media screen and (min-width: 2560px) {
  .insights {
    grid-template-columns: repeat(3, 1fr);
  }
}
