:root {
  --c-blue: #2094fa;
  --a-snack: cubic-bezier(0.25, 0.1, 0.25, 1);
  --s-gap: calc(-1 * var(--s-ellipse));
}

.paper-description {
  text-transform: uppercase;
  font-size: var(--s-medium);
}

.rank {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 1.8rem;
}

.current-league,
.league {
  position: relative;
}

.current-league .backward {
  background-color: var(--c-black);
  transform: scale(1.5);
  font-weight: bold;
  color: var(--c-blue);
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(var(--s-gap));
  padding: 0.9rem var(--s-safe);
  border-radius: var(--s-dock);
  animation: tooltip-enter var(--a-snack) 0.3s both;
}

.notification {
  position: fixed;
  z-index: 2;
  left: 50%;
  backdrop-filter: var(--p-blur);
  -webkit-backdrop-filter: var(--p-blur);
  border-radius: var(--s-dock);
  padding: var(--s-safe) var(--s-system);
  animation: snack-path var(--a-snack) 4s both;
}

.snackbar-title {
  font-size: 1.3rem;
  line-height: var(--s-medium);
}

.snackbar-desc {
  font-size: 1.6rem;
  margin-top: 0.2rem;
  white-space: nowrap;
}

.place {
  background-color: var(--c-action);
}

@keyframes tooltip-enter {
  0% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}

@keyframes snack-path {
  0%,
  100% {
    opacity: 0.01;
    transform: translateY(-100%) translateX(-50%);
  }

  10%,
  85% {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}
