html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  background-color: #c1deba;
  color: var(--c-black);
  min-height: 100vh;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --c-black: #000;
  --c-white: #fff;
  --c-dark: rgba(30, 30, 30, 0.75);
  --c-basic: #4e4e4e;
  --c-active: #cccccc;
  --o-secondary: rgba(255, 255, 255, 0.5);
  --o-glass: rgba(245, 245, 245, 0.5);
  --s-radius: 3rem;
  --s-ellipse: 5rem;
  --s-medium: 2rem;
  --a-press: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --p-blur: blur(80px);
  --p-shadow: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.2));
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  max-width: 144rem;
}

.content-full {
  width: 100%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.title {
  font-size: 4.8rem;
  margin: 2.8rem 0 0;
  letter-spacing: 0.35px;
}

.info {
  line-height: 2.4rem;
  margin: 1.4rem 0 2rem;
}

.bar {
  margin: var(--s-medium) 0;
}

.text {
  max-width: 62rem;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.rounded {
  border-radius: var(--s-radius);
}

.list {
  list-style-type: none;
}

.page {
  padding: var(--s-medium);
  margin: 2rem 0;
  background-color: var(--o-secondary);
  backdrop-filter: var(--p-blur);
}

.dark {
  background-color: var(--c-dark);
  color: var(--c-white);
  transition: background-color 0.25s;
}

.dark:hover {
  background-color: var(--c-black);
}

.pale {
  background-color: #fbf3eb;
  padding: var(--s-medium);
}

.brown {
  background-color: #e7c4b1;
  padding: var(--s-medium);
}

.tour {
  background-color: var(--c-white);
  padding: var(--s-medium);
  margin-top: var(--s-medium);
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 1.6rem;
  }

  .title {
    font-size: 3.4rem;
  }
}
