:root {
  --c-black: #1c1c1e;
  --c-white: #fff;
  --c-dark: rgba(30, 30, 30, 0.75);
  --c-active: rgba(0, 0, 0, 0.05);
  --c-secondary: rgba(255, 255, 255, 0.5);
  --c-glass: rgba(245, 245, 245, 0.5);
  --s-ellipse: 5rem;
  --s-medium: 2rem;
  --a-press: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --p-blur: blur(80px);
  --p-shadow: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.2));
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  background-color: #c1deba;
  color: var(--c-black);
  min-height: 100vh;
  padding: 1rem 0.8rem 10.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: var(--c-black);
}

ul {
  list-style-type: none;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: 142rem;
}

.content-full {
  width: 100%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.title {
  font-size: 4.8rem;
  margin: 2.8rem 0 0;
  letter-spacing: 0.35px;
}

.info {
  line-height: 2.4rem;
  margin: 1.4rem 0 2rem;
}

.subtitle {
  font-size: 3.4rem;
  margin: 1.6rem 0 1rem;
}

.text {
  max-width: 62rem;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.rounded {
  border-radius: var(--s-medium);
}

.view {
  padding: var(--s-medium);
}

.page {
  background-color: var(--c-secondary);
  backdrop-filter: var(--p-blur);
}

.page:not(:last-child) {
  margin-bottom: 2.4rem;
}

.fixed-bottom {
  position: fixed;
  bottom: 1.2rem;
  left: 50%;
  animation: toast-enter cubic-bezier(0.155, 1.105, 0.295, 1.12) 0.4s both;
}

.dock {
  max-width: 58rem;
  background-color: var(--c-glass);
  background-blend-mode: luminosity;
  backdrop-filter: var(--p-blur);
  padding: 1.6rem;
}

.layer {
  background-color: var(--c-white);
}

@media screen and (max-width: 768px) {
  .view {
    padding: 1.6rem 1.4rem;
  }

  .title {
    font-size: 3.4rem;
  }

  .dock {
    max-width: calc(100% - 1.6rem);
  }

  .subtitle {
    font-size: 2.8rem;
  }
}

@keyframes toast-enter {
  0% {
    opacity: 0.01;
    transform: translateY(100%) translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%) translateX(-50%);
  }
}
