.details-info {
  line-height: var(--s-medium);
}

.details-list {
  padding-left: 1.6rem;
}

.details-list-item {
  margin-bottom: 0.6rem;
}

.details-list-item a:hover {
  text-decoration: underline;
}

.details-flow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.tour-person {
  opacity: 0.4;
}

.tour-list li:hover .tour-person {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .details-flow {
    grid-template-columns: repeat(2, 1fr);
  }
}
