.details-description {
  color: var(--c-active);
  font-size: 1.6rem;
}

.details-info {
  line-height: var(--s-medium);
}

.details-list {
  padding-left: 1.6rem;
}

.details-list-item {
  margin-bottom: 0.6rem;
}

.details-club {
  overflow: auto;
}
