.privacy {
  grid-template-columns: 4fr 1fr;
}

.paper {
  background-color: var(--c-active);
}

.users {
  gap: var(--s-safe) 1.8rem;
}

.report-logo {
  width: 7.8rem;
  height: 7.8rem;
  font-size: var(--s-screen);
}

.quick {
  gap: var(--s-finger);
}

.spy-nav {
  position: sticky;
  top: 6rem;
  align-self: start;
  overflow: hidden;
  padding: var(--s-system);
}

.spy-nav a {
  padding: 0.4rem var(--s-unit);
  margin: var(--s-line) 0;
  color: var(--c-surface);
  transform-origin: left;
  max-width: 24rem;
}

.spy-nav a:hover,
.spy-nav a:focus,
.spy-nav a.live {
  color: var(--c-black);
}

.spy-nav a.live {
  transform: scale(1.1);
}

.spy-nav a.live::before {
  position: absolute;
  width: var(--s-indicator);
  height: 100%;
  border-radius: var(--s-medium);
  background-color: var(--c-heat);
  content: '';
  left: -0.3rem;
  top: 0;
}

@media screen and (max-width: 768px) {
  .privacy,
  .users {
    grid-template-columns: 1fr;
  }

  .users .os {
    overflow: hidden;
  }
}
